body {
    background-color: #D36060; 
}

h1 {
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    font-size: 36px;  /* Make the font size bigger */
    font-weight: 700; /* Make the title bold */
    text-align: center; /* Center-align the title */
    color: #2c3e50;  /* Dark color for the title */
}
